{% extends "sellerprofile/layout.html" %}
{% block content %}
{% include "sellerprofile/navbar.html"%}
{% load tags %}
<div class="container">
    <div class="row justify-content-end">
        <div class="col-sm-10 ">
            <h3 class="pt-4 ml-4">My Purchases</h3>
                <table class="table tabel-sm">
                    <tr>
                        <th>Number</th>
                        <th>Order Id</th>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Date Ordered</th>
                    </tr>
                    {% for order,orderitems in detail %}
                    {% if orderitems.order.complete == 1 %}
                    <tr>
                    <td>{{forloop.counter}}</td>
                    <td> {{order.id}} </td>
                    <td><img width="50px" height="50px" src="{{orderitems.product.image.url}}"></td> 
                    <td style="text-transform: capitalize">{{orderitems.product.title}}</td> 
                    
                    {% comment %} <td> {{order.complete}} </td>  {% endcomment %}
                    <td>{{orderitems.price |multiply:orderitems.quantity}}</td>
                    <td>{{orderitems.quantity}}</td>
                    <td> {{orderitems.date_orderd}} </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    </li>
                </table>
        </div>
    </div>
</div>
{% endblock %}