{% load static %}
{% comment %} {% load staticfiles %} {% endcomment %}
{% load tags %}

<style>
.message{
  margin-right:20px;
}
</style>

<nav class="navbar sticky-top navbar-expand-lg navbar-white navbar-light text-secondary" style="background-color:white">
  <a class="navbar-brand " href="#">E Pak Wholesalers</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNav">
    <ul class="navbar-nav ">
    {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'adminhome' %}">Dashboard</a>
      </li>
      {% endif %}
        
      {% comment %} {% if request.user|has_group:"sellers"  %}
      <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'products' %}">My Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'createproduct' %}">Post New Product</a>
      </li>
      {% endif %} {% endcomment %}
      <li class="nav-item">
        <a class="nav-link " href="{% url 'main' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{% url 'cart' %}"><i class="fa fa-shopping-cart" style=""><span class="badge badge-pill badge-danger">{{orderItems}}</span></i></a>
      </li>
    </ul>
    
  </div>
  <span id="message" class="mr-4 text-success" style="text-transform:capitalize">{{request.user}} </span>
    {% if user.is_authenticated%}
    <span id="logout" class=" message"style="text-decoration: none"><a class="" href="{% url 'logout'%}" >Logout</a></span>
    {% else %}
    <span id="logout" class=" message"><a style="text-decoration: none" class="" href="{% url 'login'%}">Login</a></span>
    {% endif%}
</nav>